
{% load i18n %}
{% load currency_filters %}

<div id="basket_totals">
	<ul class="pricing-table">
		<li class="title">{% trans "Basket" %}</li>
		
		{% with offer_discounts=basket.offer_discounts voucher_discounts=basket.grouped_voucher_discounts %}
			{% block discount_totals %}
				{% if offer_discounts or voucher_discounts %}
					{# Basket total will be discounted so we show a before and after version #}
					<li class="description">
						{% trans "Basket total (before discounts): " %}
						{% if basket.is_tax_known and not show_tax_separately %}
							{{ basket.total_incl_tax_excl_discounts|currency:basket.currency }}
						{% else %}
							{{ basket.total_excl_tax_excl_discounts|currency:basket.currency }}
						{% endif %}
					</li>

					{% for discount in offer_discounts %}
						<li class="bullet-item">
							<span class="label label-success">{% trans "Discount" %}</span> {{ discount.name }}
							{% if discount.description %}
								<br><small>{{ discount.description }}</small>
							{% endif %}

							 - {{ discount.discount|currency:basket.currency }}
						</li>
					{% endfor %}

					{% if voucher_discounts %}
						<li class="description">
							<h4>{% trans "Vouchers" %}</h4>
						</li>
						{% for discount in voucher_discounts %}
							<li class="bullet-item">
								{{ discount.voucher.name }} ({{ discount.voucher.code }})
								{% if editable %}
									<form action="{% url 'basket:vouchers-remove' pk=discount.voucher.id %}" method="POST">
										{% csrf_token %}
										<input type="submit" value="{% trans 'Remove' %}" class="button small secondary" />
									</form>
								{% endif %}
								 - {{ discount.discount|currency:basket.currency }}
							</li>
						{% endfor %}
					{% endif %}
				{% endif %}
			{% endblock %}

			{% block basket_total %}
				{% if offer_discounts or voucher_discounts %}
					<li class="bullet-item">
						{% trans "Basket total (after discounts): " %}
						{% if not show_tax_separately and basket.is_tax_known %}
							{{ basket.total_incl_tax|currency:basket.currency }}
						{% else %}
							{{ basket.total_excl_tax|currency:basket.currency }}
						{% endif %}
					</li>
				{% else %}
					{# No discounts to basket #}
					<li class="bullet-item">
						{% trans "Basket total: " %}</th>
						{% if not show_tax_separately and basket.is_tax_known %}
							{{ basket.total_incl_tax|currency:basket.currency }}
						{% else %}
							{{ basket.total_excl_tax|currency:basket.currency }}
						{% endif %}
					</li>
				{% endif %}
			{% endblock %}
		{% endwith %}

		{% block shipping_totals %}
			<li class="description">
				<h4>{% trans "Shipping" %}</h4>
				{% if shipping_methods|length > 1 and editable %}
					{% trans "Alternative shipping methods can be chosen during checkout" %}
				{% endif %}
			</li>
			{% if not shipping_method.is_discounted %}
				<li class="bullet-item">
					{{ shipping_method.name }}: 
					{% if not show_tax_separately and shipping_charge.is_tax_known %}
						{{ shipping_charge.incl_tax|currency:basket.currency }}
					{% else %}
						{{ shipping_charge.excl_tax|currency:basket.currency }}
					{% endif %}
				</li>
			{% else %}
				{# As shipping is discounted, we break it down into its original charge and a discount #}
				<li class="bullet-item">
					{% trans "Shipping method" %}: 
					{{ shipping_method.name }}
				</li>
				<li class="description">
					{% trans "Shipping total (before discounts)" %}: 
					{% if not show_tax_separately %}
						{{ shipping_method.charge_incl_tax_before_discount|currency:basket.currency }}
					{% else %}
						{{ shipping_method.charge_excl_tax_before_discount|currency:basket.currency }}
					{% endif %}
				</li>
				{# This section needs adjustment to when taxes are shown separately #}
				<li  class="bullet-item">
					{% with discount=shipping_method.get_discount %}
						<span class="label label-success">{% trans "Discount" %}: </span> {{ discount.name }}
						 - {{ discount.discount|currency:basket.currency }}
					{% endwith %}
				</li>
				<li class="bullet-item">
					{% trans "Shipping total (after discounts): " %}
					{{ shipping_method.charge_incl_tax|currency:basket.currency }}
				</li>
			{% endif %}
		{% endblock %}

		{% block tax_totals %}
			{% if show_tax_separately %}

				<li class="description">
					<h4>{% trans "Tax" %}</h4>
				</li>
				<li class="bullet-item">
					{% trans "Basket: " %}</th>
					{{ basket.total_tax|currency:basket.currency }}
				</li>
				<tr>
					<th class="total">{% trans "Shipping" %}</th>
					<th class="total align-right">
						{{ shipping_method.tax|currency:basket.currency }}
					</th>
				</tr>
			{% endif %}
		{% endblock %}

		{% block post_order_action_totals %}
			{% if basket.post_order_actions %}
				<li class="description">
					<h4>{% trans "Post order actions" %}</h4>
					{% trans "These will be applied once your order is placed." %}
				</li>
				{% for discount in basket.post_order_actions %}
					<li class="bullet-item">
						<span class="label label-success">{{ discount.name }}</span><br/>
						<p>{{ discount.description }}</p>
					</li>
				{% endfor %}
			{% endif %}
		{% endblock %}

		{% block order_total %}
			<li class="price">
				<h4>{% trans "Order total: " %}
					<span class="price_color">
						{% if order_total.is_tax_known %}
							{{ order_total.incl_tax|currency:basket.currency }}
						{% else %}
							{{ order_total.excl_tax|currency:basket.currency }}
						{% endif %}
					</span>
				</h4>
			</li>
			{% if not order_total.is_tax_known %}
				<li class="description">
					{% trans "Taxes will be added during checkout." %}
				</li>
			{% endif %}
		{% endblock %}
		
		{% if checkout_step == "basket" %}
			{% block paypal_express %}
				<li class="cta-button">
					{% if anon_checkout_allowed or request.user.is_authenticated %}		
						<a href="{% url 'paypal-redirect' %}" class="button radius secondary">
							<h1>
								<span class="checkout-text">{% trans "Checkout with " %} </span>
								<i class="fa fa-cc-paypal"></i>
								
							</h1>
						</a>
					{% endif %}
				</li>
			{% endblock paypal_express %}
		{% endif %}
		
		{% if checkout_step == "submit" %}
			{% block place_order %}
				<li class="cta-button">
				
					<form method="post" action="{% url 'paypal-place-order' basket.id %}">
						{% csrf_token %}
						<input type="hidden" name="payer_id" value="{{ payer_id }}" />
						<input type="hidden" name="token" value="{{ token }}" />
						
						<button id='place-order' type="submit" class="radius large secondary js-disable-on-click" data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>

					</form>
				</li>
			{% endblock place_order %}
		{% endif %}

	</ul>
</div>
