{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load sorting_tags %}
{% load form_tags %}

{% block title %}
	{{ title }} {% trans "Import Records" %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
			<a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
			<span class="divider">/</span>
		</li>
		<li>
			<a href="{% url 'dashboard:catalogue-product-list' %}">{% trans "Products" %}</a>
			<span class="divider">/</span>
		</li>
		{% if product %}
			<li>
				<a href="{% url 'dashboard:catalogue-product' product.id %}">
					{{ product.title }}
				</a>
				<span class="divider">/</span>
			</li>
		{% endif %}
		<li class="active">{{ title }}</li>
	</ul>
{% endblock %}

{% block headertext %}
	{{ title }}
	<p>
		<a href="{% url 'dashboard:catalogue-product' product.id %}" class="btn btn-secondary">
			<i class="icon-arrow-left"></i>&nbsp;
			Return to Product
		</a>
	</p>
	<hr>
{% endblock %}

{% block dashboard_content %}
	<h2> Records List: {% if product %} {{ product.title}} {% endif %} </h2>
	<p>
		<a class="btn btn-primary" href="{% url 'dashboard:add_record' product.id %}">
			<i class="icon-plus"></i>&nbsp;
			Add New Record
		</a>
	</p>
	<style type="text/css">
		td.positive {
			background-color: #dff0d8;
		}
		td.negative {
			background-color: #f2dede;
		}
		td.info {
			background-color: #d9edf7;
		}
		td.data {
			background-color: #fcf8e3;
		}
		td.control {
			background-color: #f5f5f5;
			text-align: right;
		}
	</style>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Standard Export Price</th>
				<th>Import Price (USD)</th>
				<th>Tariff Code</th>
				<th>Tariff</th>
				<th>Shipping</th>
				<th>COGS</th>
				<th>Wholesale</th>
				<th>MSRP</th>
				<th>Wholesale GPM</th>
				<th>Retail GPM</th>
				<th>Reseller GPM</th>
			</tr>
		</thead>
		<tbody>
			{% for rec in records %}
			<tr>
				<td colspan="2">Product Detail: {{ product }} </td>
				
				<td class="">
					 <a href="#" target="_blank">
					 {{ rec.tariff_code }}
					 </a>
				</td>
				<td class="negative">${{ rec.tariff }}</td>
				<td class="negative">${{ rec.shipping_cost }}</td>
				<td class="data">${{ rec.cost_price }}</td>
				<td class="positive">${{ rec.price_reseller }}</td>
				<td class="positive">${{ rec.price_retail }}</td>
				<td class="data"> {{ rec.wholesale_gpm }}%</td>
				<td class="data"> {{ rec.retail_gpm }}%</td>
				<td class="data"> {{ rec.reseller_gpm }}%</td>
			</tr>
			<tr>
				<td class="data"> {{ rec.standard_export_price }} {{ rec.origin_currency }}</td>
				<td class="data">${{ rec.import_price }}</td>
				<td class="info">
					Tariff Rate: {{ rec.tariff_rate }}%
				</td>
				<td colspan="3">Date Imported: {{ rec.imported_date }}</td>
				<td colspan="2">Quantity Imported: <b>{{ rec.quantity }}</b> </td>
				<td colspan="3" class="control">
					<a href="{% url 'dashboard:update_record' product.id rec.id %}" class="btn">
						<i class="icon-pencil"></i>&nbsp;
						Modify
					</a>
					<a href="" class="btn">
						<i class="icon-plus-sign"></i>
						Create New With Data
					</a>
					<a href="" class="btn btn-primary">
						<i class="icon-list"></i>
						View Details
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
		{#
			<li><a href="{% url 'dashboard:update_record' product.id rec.id %}">Record Number: {{ rec.id }} </a></li>
			<li>Record: {{ rec.partner_sku }} 
			| Standard Export Price: {{ rec.standard_export_price }} euros
			| Discount to EU Activewear: {{ rec.partner_discount }}% 
			| Currency Conversion Factor: {{ rec.currency_factor }}
			<br>
			| MSRP (Euro): {{ rec.origin_msrp }} euros
			| MSRP (USD): ${{ rec.msrp }} 
			| Export Price: {{ rec.export_price }} euros
			| Import Price(USD): ${{ rec.import_price }} 
			<br>
			| Tariff Code: {{ rec.tariff_code }} 
			| Tariff Rate: {{ rec.tariff_rate }}% 
			| Tariff: ${{ rec.tariff }} 
			<br>
			| Shipping Weight: {{ rec.shipping_weight }} 
			| Shipping Factor: {{ rec.shipping_factor }} 
			| Import Cost (USD): ${{ rec.import_cost }} 
			<br>
			| COGS (fully landed): ${{ rec.cost_price }} 
			<br>
			| WS GPM Target: {{ rec.target_wholesale_gpm }}% 
			| Target WS Price: ${{ rec.target_wholesale_price }} 
			| Implied Retail Factor: {{ rec.implied_retail_factor }} 
			<br>
			| Target Retail Factor: {{ rec.target_retail_factor }} 
			| Implied MSRP: ${{ rec.implied_msrp }} 
			| MSRP Delta: ${{ rec.msrp_delta }}
			| MSRP Markup: {{ rec.msrp_markup }}% 
			<br>
			| Final WS Price: ${{ rec.price_reseller }}
			| Final MSRP: ${{ rec.price_retail }}
			<br>
			| Final GIG WS Profit: ${{ rec.wholesale_profit }}
			| Final GIG WS GPM: {{ rec.wholesale_gpm }}% 
			<br>
			| Final GIG Retail Profit: ${{ rec.retail_profit }} 
			| Final GIG Retail GPM: {{ rec.retail_gpm }}% 
			<br>
			| Final Reseller Profit: ${{ rec.reseller_profit }} 
			| Final Reseller GPM: {{ rec.reseller_gpm }}%</li>
	</ul>
	#}
