{% extends 'inventory/importrecord_list.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load sorting_tags %}
{% load form_tags %}
{% load underscore_tags %}

{% block headertext %}
    {{ title }}
    <p>
        <a href="{% url 'dashboard:catalogue-product' parent.id %}" class="btn btn-secondary">
            <i class="icon-arrow-left"></i>&nbsp;
            Return to Product
        </a>
        <a href="{% url 'dashboard:list_records' parent.id %}" class="btn btn-primary">
            <i class="icon-list"></i>&nbsp;
            List of Import Records
        </a>
    </p>
{% endblock %}

{% block dashboard_content %}
    <h2> Create New Record: {% if product %} {{ product.title}} {% endif %} </h2>
    <form method="post" action="." class="form-horizontal">
        {% csrf_token %}
        {% include 'partials/form_fields.html' %}

        {% if form.is_bound and not form.is_valid %}
            <div class="alert alert-error">
                <strong>{% trans "Oops! We found some errors" %}</strong> - {% trans "please check the error messages below and try again" %}
            </div>
        {% endif %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-error control-group error">
                    <span class="help-inline"><i class="icon-exclamation-sign"></i> {{ error }}</span>
                </div>
            {% endfor %}
        {% endif %}

        {{ form.id }}

        <!--Begin Custom Form Code -->

        {% include 'partials/form_field.html' with field=form.product %}
        {% include 'partials/form_field.html' with field=form|field_:'_shipping_cost' %}

        <p>
            <b>Test it:</b>
            {{ object.price_retail }}
        </p>


        <div class="form-action">
            <button class="btn btn-primary btn-large" type="submit">Submit Record</button>
        </div>
    </form>
{% endblock %}