{% extends 'inventory/importrecord_list.html' %}
{% load i18n %}
{% load thumbnail %}
{% load staticfiles %}
{% load sorting_tags %}
{% load form_tags %}

{% block headertext %}
    {{ title }}
    <p>
        <a href="{% url 'dashboard:catalogue-product' product.id %}" class="btn btn-secondary">
            <i class="icon-arrow-left"></i>&nbsp;
            Return to Product
        </a>
        <a href="{% url 'dashboard:list_records' product_pk=product.id %}" class="btn btn-primary">
            <i class="icon-list"></i>&nbsp;
            List of Import Records
        </a>
    </p>
{% endblock %}

{% block dashboard_content %}
    <h2> Create New Record: {% if product %} {{ product.title}} {% endif %} </h2>
    <form method="post" action="." class="form-horizontal">
        {% csrf_token %}
        {% include 'partials/form_fields.html' %}

        <div class="form-action">
            <button class="btn btn-primary btn-large" type="submit">Submit Record</button>
        </div>
    </form>
{% endblock %}