{% load activity_tags %}

{% product_activities as activities %}
{% for product_activity in activities %}
	{% if activity == product_activity %}
		<li class="current">
			{{ product_activity.name }}
		</li>
	{% else %}
		{% if category %}
			<li class="">
				<a href="{{ category.get_absolute_url }}{{ product_activity.url }}">{{ product_activity.name }}</a>
			</li>
		{% else %}
			<li class="">
				<a href="/catalogue/{{ product_activity.url }}">{{ product_activity.name }}</a>
			</li>
		{% endif %}
	{% endif %}
{% endfor %}